{% extends 'Base_page.html' %} 
{% block title %} | User Dashboard {% endblock %}
{% block content %}
{% load static %}
<!-- Here Some classes are used from display.html Page so find them -->


<!-- Breadcrump Start -->
<main>
    <div class="breadcrump">
        <a class="breadcrump_a" href="{% url 'display_page' %}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="home_icon" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg>  Display / </a> <a class="breadcrump_a breadcrump_a_a"> &nbsp;User Dashboard </a>  
    </div>
</main>
<!-- Breadcrimp End -->

<main>
    <div class="dashboard_heading_p_div">
        <p class="dashboard_heading_p"> Welcome {{ user.first_name }} </p>
        <p class="dashboard_heading_sentence"> Here Are The properties that you have inquired about </p>
    </div>

    <div class="inquired_properties_main_div inquired_property_heading_div"> 
        <div class="first_column_inquired_preperties">
            <p class="first_first_column_item"> # </p>
        </div>
        <div class="first_column_inquired_preperties second_column_inquired_preperties">
            <p class="first_first_column_item"> Property </p>
        </div>
        <div class="first_column_inquired_preperties second_column_inquired_preperties">
            <p class="first_first_column_item">  </p>
        </div>
    </div>


    <!-- Static Here -->

    {% if contacts %}
        {% for contact in contacts %}
            <div class="inquired_properties_main_div inquired_properties_second_main_div">
                <div class="first_column_inquired_preperties">
                    <p class="second_first_column_item"> {{ contact.property_id }} </p>
                </div>
                <div class="first_column_inquired_preperties second_column_inquired_preperties">
                    <p class="second_first_column_item"> {{ contact.property }} </p>
                </div>
                <div class="first_column_inquired_preperties second_column_inquired_preperties">
                    <a href="{% url 'property' contact.property_id %}" class="second_first_column_item third_item_a"> View Listing </a>
                </div>
            </div>
        {% endfor %}
    {% else %}
    {% endif %}

 
</main>

{% endblock %}