{% extends 'Base_page.html' %} 
{% block title %} | About Us {% endblock%}
{% block content %}
{% load static %}
<!-- Here Some classes are used from display.html Page so find them -->


<!-- Breadcrump Start -->
<main>
    <div class="breadcrump">
        <a class="breadcrump_a" href="{% url 'display_page' %}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" id="home_icon" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 3.293l6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
          </svg>  Display / </a> <a class="breadcrump_a breadcrump_a_a"> &nbsp;About </a>  
    </div>
</main>
<!-- Breadcrimp End -->


<!-- about heading start -->
<main>
    <div class="about_heading">
        <p class="Letest_properties_p"> About Shri Hari Real Estate </p>
        <div class="heading_under_hr_div">
            <i class="heading_under_hr"></i>
        </div>
        <p class="about_heading_para"> Gone are the days when people used to deal property matters on the basis of
            "mouth to mouth publicity" or nearby dealers. Globalization and fast lifestyle has encouraged the real
            estate industry to step in E-World. Now active partakers of real estate world are eagerly seeking the right
            options to establish themselves in E-Real Estate World. ShriHariRealEstate.Com is a solution to all what
            bothers to people who all are dealing in properties or people who all are searching property. As one of the
            leading property portals, Shri Hari Real Estate has tuned itself with pulse of real estate sector. Moving ahead
            with esteemed registered users and regularly visited by players of real estate industry, ShriHariRealEstate.Com
            has become the pivot for real-estate sector </p>
    </div>
</main>
<!-- about heading end -->


<!-- fast facts start -->
<main>
    <div class="fast_facts">
        <p class="Letest_properties_p"> Fast Facts </p>
        <div class="heading_under_hr_div">
            <i class="heading_under_hr"></i>
        </div>

        <div class="fast_facts_inner">
            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg> <span class="about_heading_para about_heading_para_span"> Incepted in </span> 1997 </a>

            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg>  <span class="about_heading_para about_heading_para_span"> Recognized as </span> Single platform for versatile needs of Real estate World.</a>

            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg>  <span class="about_heading_para about_heading_para_span"> Regularly visited by </span> All the active partakers of Real estate industry.</a>

            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg>  <span class="about_heading_para about_heading_para_span"> Crowded by </span> Industrial leaders of real estate world.</a>

            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg>  <span class="about_heading_para about_heading_para_span"> Visitors landing Per day </span> More than 1, 00,000.</a>

            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg>  <span class="about_heading_para about_heading_para_span"> Services Offered : </span> Provides Advertising platform to Agents, Buyers and Sellers.</a>

            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg>  <span class="about_heading_para about_heading_para_span"> Property categories available </span> Industrial, commercial, residential, agricultural and all other types of properties.</a>

            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg>  <span class="about_heading_para about_heading_para_span"> Prime offer </span> Free access to buyers/sellers database.</a>

            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg>  <span class="about_heading_para about_heading_para_span"> Coverage </span> Every nook n corner of India.</a>

            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg>  <span class="about_heading_para about_heading_para_span"> Additionally </span> Renders comprehensive information about property locations, prime attraction of areas, current trends and much more.</a>

            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg>  <span class="about_heading_para about_heading_para_span"> Supported by </span> An enthusiastic team of technical coordinators and customer care executives.</a>

            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg>  <span class="about_heading_para about_heading_para_span"> Hot Deals </span> A versatile range of pocket-friendly advertising solutions.</a>

            <a class="about_heading_para fast_facts_a"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-diamond" viewBox="0 0 16 16">
                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z"/>
              </svg>  <span class="about_heading_para about_heading_para_span"> Solutions available for </span> Real Estate Agents, Builder & Developer, Contractors, Interior Decorator, Architecture, Consultant & Advisor, Vaastu Consultant, Building Material Dealer etc.</a>
        </div>
    </div>
</main>
<!-- fast facts end -->


<!-- we work for you start -->
<main>
    <div class="we_work_for_you">
        <p class="Letest_properties_p"> We Work For You </p>
        <div class="heading_under_hr_div">
            <i class="heading_under_hr"></i>
        </div>

        <p class="about_heading_para we_work_p_quotes"> The house you looked at today and wanted to think about until tomorrow may be the same house someone looked at yesterday and will buy today.</p>

        <div class="we_work_for_you_div">
            <div class="we_work_for_you_btn">
                <a class="we_work_a_btn" href=""> View Our Featured Properties </a>
            </div>
        </div>
    </div>
</main>
<!-- we work for you end -->


<!-- our team start -->
<main>
    <div class="our_team">
        <p class="Letest_properties_p"> Our Team </p>
        <div class="heading_under_hr_div">
            <i class="heading_under_hr"></i>
        </div>

        <div class="our_team_inner">
            {% if realtors %}
            {% for realtor in realtors %}
            <div class="our_team_member_one">
                <div class="our_member_one_img_div">
                    <div class="member_img_div">
                        <img class="our_member_one_img" src="{{realtor.photo.url}}" alt="Image In Process">
                    </div>
                </div>
                <p class="member_name"> {{realtor.name}} </p>
                <p class="member_name member_phone"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                    <path d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                  </svg> Realtor </p>

                <p class="member_name member_phone"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone" viewBox="0 0 16 16">
                    <path d="M11 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h6zM5 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H5z"/>
                    <path d="M8 14a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg> {{ realtor.phone }} </p>
                <p class="member_name member_phone"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                  </svg> {{ realtor.email}} </p>

            </div>
            {% endfor %}
            {% else %}
            <p> No Realtors Active </p>
            {% endif %}
        </div>
    </div>
</main>
<!-- our team end -->


<!-- seller of the month Start -->
<main>
    <div class="realtor_of_month">
        <p class="Letest_properties_p seller_of_head"> Seller Of The Month </p>
        <div class="heading_under_hr_div seller_under">
            <i class="heading_under_hr"></i>
        </div>  

        {% if mvp_realtor %}
        {% for realtor in mvp_realtor %}
        <div class="seller_of_the_month_inner">    
            <div class="seller_of_img_div">
                <div class="seller_of_img_div_inner">
                    <img class="our_member_one_img" src="{{ realtor.photo.url }}" alt="Image In Process">
                </div>
            </div>

            <p class="member_name"> {{realtor.name}} </p>
            <p class="about_heading_para seller_quotes"> {{realtor.description}} </p>
        </div>
        {% endfor %}
        {% else %}
        <p> No Realtors Active </p>
        {% endif %}
    </div>
</main>
<!-- seller of the month End -->
{% endblock %}