{% load static %}

<!-- Footer Start -->
<main>

    <div class="footer_1">
        <div class="footer_inner">
            <div class="footer_about">
                <p class="footer_about_heading"> Shri Hari Real Estate </p>
                <p class="footer_about_patagraph"> Finding the right property requires a lot of time and effort. Won’t it be convenient if all the properties that fit your needs were literally served to you on a platter?  Well, explore more properties that will match your expectations perfectly at ShriHariRealEstate.com. Search for property in your right here. If you are looking to buy, sell and rent properties in your then ShriHariRealEstate.com is the ideal platform that will help you make the right choice by giving you viable options from reliable sources. Find properties in your that will match your property requirements. The property that you have been dreaming of is now just a click away! </p>
            </div>

            <div class="footer_social_icon">
                <div class="social_media">
                    <p class="social_media_p"> Social Media </p>
                    <div class="social_media_icon">
                        <a class="icons facebook" href=""> <i class="fa fa-facebook-square" aria-hidden="true"></i> </a>
                        <a class="icons insta" href=""> <i class="fa fa-instagram" aria-hidden="true"></i> </a>
                        <a class="icons pintr" href=""> <i class="fa fa-pinterest-square" aria-hidden="true"></i> </a>
                        <a class="icons whatsa" href=""> <i class="fa fa-whatsapp" aria-hidden="true"></i> </a>
                        <a class="icons google" href=""> <i class="fa fa-google-plus-square" aria-hidden="true"></i> </a>
                        <a class="icons youtu" href=""> <i class="fa fa-youtube-play" aria-hidden="true"></i> </a>
                    </div>
                </div>
                <div class="download_our_app">
                    <p class="social_media_p"> Download Free Apps </p>
                    <div class="download_app_inner">
                        <a href=""> <img class="download_app_store_logo" src="{% static 'img/apple_logo.svg' %}" alt="img in process"> </a>
                        <a href=""> <img class="download_app_logo" src="{% static 'img/google-play.png' %}" alt="img in process"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_2">
        <div class="footer_2_inner">
            <div class="partision_1">
                <p class="social_media_p footer_2_p"> About ShriHari </p>
                <a href="" class="partision_1_properties"> About Us </a>
                <a href="" class="partision_1_properties"> Terms & Conditions </a>
                <a href="" class="partision_1_properties"> Privacy Policy </a>
                <a href="" class="partision_1_properties"> Testimonials </a>
                <a href="" class="partision_1_properties"> Events </a>
                <a href="" class="partision_1_properties"> Careers </a>
                <a href="" class="partision_1_properties"> Sitemap </a>
            </div>
            <div class="partision_1">
                <p class="social_media_p footer_2_p"> quick links </p>
                <a href="" class="partision_1_properties"> List your Property </a>
                <a href="" class="partision_1_properties"> Post your Requirement </a>
                <a href="" class="partision_1_properties"> Home Loans </a>
                <a href="" class="partision_1_properties"> Price Trends </a>
                <a href="" class="partision_1_properties"> Property Bytes </a>
                <a href="" class="partision_1_properties"> Feedback </a>
                <a href="" class="partision_1_properties"> Builders in India </a>
                <a href="" class="partision_1_properties"> Agents in India </a>
            </div>
            <div class="partision_1">
                <p class="social_media_p footer_2_p"> Coustomer Services </p>
                <a href="" class="partision_1_properties"> Live Chat </a>
                <a href="" class="partision_1_properties"> FAQs </a>
                <a href="" class="partision_1_properties"> Listing Guidelines </a>
                <a href="" class="partision_1_properties"> Email Us </a>
                <a href="" class="partision_1_properties"> Contact Us </a>
            </div>
            <div class="partision_1 partision_2">
                <p class="social_media_p footer_2_p"> group portals </p>
                <a href="" class="partision_1_properties"> QuikrHomes </a>
                <a href="" class="partision_1_properties"> CommonFloor </a>
            </div>
        </div>
        <div class="footer_2_DISCLAIMER">
            <p class="social_media_p footer_2_p"> DISCLAIMER </p>
            <p class="disclamer_details"> Shri Hari Real Estate is only an intermediary offering its platform to facilitate the transactions between Seller and Customer/Buyer/User and is not and cannot be a party to or control in any manner any transactions between the Seller and the Customer/Buyer/User. Shri Hari Real Estate shall neither be responsible nor liable to mediate or resolve any disputes or disagreements between the Customer/Buyer/User and the Seller and both Seller and Customer/Buyer/User shall settle all such disputes without involving Shri Hari Real Estate in any manner. </p>
        </div>

        <div class="copyright">
            <a class="disclamer_details"> All trademarks, logos are properties of their respective owners. All Rights Reserved. © Copyright 2021 Shri Hari Real Estate PVT.LTD.</a>
        </div>

    </div>
</main>
<!-- Footer End -->